= render "layouts/errors", :object => @form
= form_for @form do |f|
  .form-group
    = f.label :name_first_last, 'First Last Name'
    = f.text_field :name_first_last, :required => true, :class => "form-control"
  .form-group
    = f.label :address_street, 'Street'
    = f.text_field :address_street, :required => true, :class => "form-control"
  .form-group
    = f.label :address_city, 'City'
    = f.text_field :address_city, :required => true, :class => "form-control"
  .form-group
    = f.label :address_state, 'State'
    = f.select :address_state, options_for_select(us_states), :required => true, :class => "form-control"
  .form-group
    = f.label :address_zip, 'Zip'
    = f.text_field :address_zip, minlength: 5, maxlength: 5, :required => true, :class => "form-control"
  .form-group
    = f.label :phone, 'Phone'
    = f.phone_field :phone, :required => true, :class => "form-control"
  .form-group
    = f.label :email, 'Email'
    = f.email_field :email, :required => true, type:'email', :class => "form-control"
  .form-group
    = f.label :social, 'Social Security Number'
    = f.text_field :social, minlength: 9, maxlength: 9, :required => true, :class => "form-control"
  .form-group
    = f.label :vin, 'Vin Number'
    = f.text_field :vin, minlength: 17, maxlength: 17, :required => true, :class => "form-control"
  .form-group
    = f.label :make, 'Make'
    = f.text_field :make, :required => true, :class => "form-control"
  .form-group
    = f.label :model, 'Model'
    = f.text_field :model, :required => true, :class => "form-control"
  .form-group
    = f.label :year, 'Year'
    = f.number_field :year, min: 1950, :required => true, :class => "form-control"
  .form-group
    = f.label :cc, 'CC'
    = f.number_field :cc, min: 250, :required => true, :class => "form-control"
  .form-group
    = f.label :color, 'Color'
    = f.text_field :color, :required => true, :class => "form-control"
  .form-group
    = f.label :purchase_date, 'Purchase Date (mm/dd/yyyy)'
    = f.text_field :purchase_date, :required => true, :class => "form-control"
  .center-align
    %br
    = f.button :Submit, class: 'btn btn-info btn-large'
