<!DOCTYPE html>
<html>
  <head>
    <title>Legal Off-Road</title>
    <%= favicon_link_tag 'tab_icon.png' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <%= stylesheet_link_tag    'application', media: 'screen,projection', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='white' role='navigation'>
      <div class='nav-wrapper container'>
        <%= link_to 'Legal Off-Road', root_path, class: 'brand-logo', id: 'logo-container'  %>
        <ul class='right hide-on-med-and-down'>
          <li><%= link_to 'Form', create_path %></li>
          <li><%= link_to 'Donate', 'https://cash.me/$DanielDanilyuk', target: '_blank'  %></li>
          <li><%= mail_to "dandanilyuk@gmail.com", 'Contact' %></li>
        </ul>
        <ul id='nav-mobile' class='side-nav'>
          <li><%= link_to 'Form', create_path %></li>
          <li><%= link_to 'Donate', 'https://cash.me/$DanielDanilyuk', target: '_blank'  %></li>
          <li><%= mail_to "dandanilyuk@gmail.com", 'Contact' %></li>
        </ul>
        <a href='#' data-activates='nav-mobile' class='button-collapse'><i class='material-icons'>menu</i></a>
      </div>
    </nav>
    <div class='container'>
      <% flash.each do |key, value| %>
         <div class='alert alert-info alert-dismissible fade show' role='alert'>
           <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
             <span aria-hidden='true'>&times;</span>
           </button>
           <%= value %>
         </div>
       <% end %>
      <%= yield %>
    </div>
  </body>
  <footer class='page-footer teal'>
    <div class='footer-copyright'>
      <div class='container center'>
      Made by <a class='brown-text text-lighten-3' href='http://www.dandanilyuk.com'>Dan Danilyuk</a>
      </div>
    </div>
  </footer>
</html>
